<!-- Info overlay -->
<div id="info-overlay" class="splash">
  <div class="splash-box w-90">
    <button id="PB_info_close" class="splash-close">&#x2715;</button>
    <div>
      <img src="../assets/vivi-main.svg" class="mt-4 w-full" />
      <div class="flex flex-col items-center gap-1">
        <span id="info_version" class="text-base text-white/70">v—</span>
      </div>
      <div class="flex flex-col items-center gap-1 text-sm text-white/60">
        <span>hbarinstruments.com</span>
        <span>© 2026 h-Bar Instruments</span>
      </div>
    </div>
  </div>
</div>
