@import "tailwindcss";
@import "../../../node_modules/instrument-ui/src/renderer/css/base.css";
@import "../../../node_modules/instrument-ui/src/renderer/css/components.css";
@import "../../../node_modules/instrument-ui/src/renderer/css/keyboard.css";

@source "../../../node_modules/instrument-ui/src/renderer/templates";
@source "../../../node_modules/instrument-ui/src/renderer/js";

@theme {
  --font-sans: "Satoshi", sans-serif;

  --color-background: #010f0f;

  --color-panel-50: #faf8f4;
  --color-panel-100: #f5f1eb;
  --color-panel-950: #1c1a16;

  --color-vivi-50: #ddfefe;
  --color-vivi-100: #bafdfd;
  --color-vivi-200: #70fafa;
  --color-vivi-300: #2bf7f7;
  --color-vivi-400: #08d4d4;
  --color-vivi-500: #058b8c;
  --color-vivi-600: #047171;
  --color-vivi-700: #035454;
  --color-vivi-800: #023636;
  --color-vivi-900: #011e1e;
  --color-vivi-950: #010f0f;

  --color-app-50: #ddfefe;
  --color-app-100: #bafdfd;
  --color-app-200: #70fafa;
  --color-app-300: #2bf7f7;
  --color-app-400: #08d4d4;
  --color-app-500: #058b8c;
  --color-app-600: #047171;
  --color-app-700: #035454;
  --color-app-800: #023636;
  --color-app-900: #011e1e;
  --color-app-950: #010f0f;
}

@layer components {
  .button-pink {
    @apply hover:bg-pink-700 hover:text-white hover:shadow-lg;
    @apply focus:bg-pink-700 focus:text-white focus:shadow-none;
    @apply disabled:opacity-50 disabled:shadow-none;
  }

  .tab_black {
    @apply rounded-lg border-transparent px-0 text-center text-black;
  }
}

@layer utilities {
  @keyframes flicker {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .animate-flicker {
    animation: flicker 2s infinite;
  }
}
