@import "tailwindcss";

@theme {
  --color-vivi-50: #ddfefe;
  --color-vivi-100: #bafdfd;
  --color-vivi-200: #70fafa;
  --color-vivi-300: #2bf7f7;
  --color-vivi-400: #08d4d4;
  --color-vivi-500: #058b8c;
  --color-vivi-600: #047171;
  --color-vivi-700: #035454;
  --color-vivi-800: #023636;
  --color-vivi-900: #011e1e;
  --color-vivi-950: #010f0f;
}

@layer base {
  button {
    @apply rounded-md border border-slate-200 bg-white px-4 py-2 text-center items-center justify-center text-sm shadow-sm transition-all;
    @apply hover:bg-vivi-500 hover:text-white hover:shadow-lg;
    @apply focus:bg-vivi-500 focus:shadow-none focus:text-white;
    @apply active:bg-vivi-700 active:shadow-none active:text-white;
    @apply disabled:pointer-events-none disabled:opacity-50 ;
  }
  select {
    @apply rounded border border-slate-200 bg-transparent py-2 pr-8 pl-3 text-sm text-black shadow-sm transition-all;
    @apply hover:border-slate-400;
    @apply focus:border-slate-400;
  }

  label {
    @apply text-sm text-slate-800;
  }

  input {
    @apply h-7 rounded border border-slate-200 text-center text-sm;
    @apply shadow-sm hover:border-slate-400;
    @apply border-none disabled:opacity-50 ;
  }
}

@layer components {
  .button-pink {
    @apply hover:bg-pink-700 hover:text-white hover:shadow-lg;
    @apply focus:bg-pink-700 focus:shadow-none focus:text-white;
    @apply disabled:opacity-50 disabled:shadow-none;
  }

  .shadow-box {
    @apply rounded-xl shadow-lg outline outline-black/5;
  }

  .tab {
    @apply relative rounded-lg border border-transparent px-4 py-2 text-sm text-gray-700 transition-all duration-300 select-none;
    @apply hover:border-vivi-500;
  }

  .tab_active {
    @apply bg-vivi-500 rounded-lg border-transparent text-white;
  }

  .tab_black {
    @apply rounded-lg border-transparent px-0 text-center text-black;
  }

}

@layer utilities {
  @keyframes flicker {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }

  .animate-flicker {
    animation: flicker 2s infinite;
  }
}
