.font-mono {
    font-family: "Geist Mono", monospace, monospace; 
}

#terminal{
    position: fixed;
    background-color: #1d2021;
    font-size: 10pt;
    color: #ebdbb2;
    padding: 10px;
    overflow-y:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    inset: 0px;
}

#terminal::-webkit-scrollbar {
    display: none;
}