#MainWindow{
    background-color: #1e1e1e;
}

#group_cmd, #group_device {
    background-color: #158081;
    border-radius: 5%;
}

#group_left {
    background-color: #058b8c;
    border-radius: 15%;
}

#group_viviewer{
    background-color: #363636;
    border-radius: 15%;
}
